[user]
	name = ayaconsa
	email = aya.consadole@gmail.com
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /root/.vscode-server/bin/019f4d1419fbc8219a181fab7892ebccf7ee29a2/node /tmp/vscode-remote-containers-6b822cba-811c-45bc-9308-2a02563d316e.js git-credential-helper $*; }; f"
