<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<h1>店舗情報 詳細</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li><a href="{% url 'admin_restaurant_list' %}">登録店舗一覧</a></li>
    <li>店舗情報 詳細</li>
	</ol>
</nav>


<div class="admin_btn_parent">
	<div class="admin_btn">
		<a class="admin_link" href="{% url 'admin_restaurant_edit' pk=restaurant.pk %}">店舗情報編集</a>
	</div>
	<div class="admin_btn">
		<a class="admin_link" href="{% url 'admin_booking_confirmation' %}">予約確認</a>
	</div>
	<div class="admin_btn">
		<a class="admin_link" href="{% url 'admin_review_confirmation' %}">レビュー確認</a>
	</div>
</div>

<!-- メモ：Restrantオブジェクトから自動的にrestrantという名前で渡される -->
<table class="admin_table">
	<tbody>
		<tr>
			<th>店舗名</th>
			<td>{{ restaurant.name }}</td>
		</tr>
		<tr>
			<th>カテゴリ</th>
			<td>{{ restaurant.category}}</td>
		</tr>
		<tr>
			<th>価格（最大）</th>
			<td>{{ restaurant.price_max }}</td>
		</tr>
		<tr>
			<th>価格（最小）</th>
			<td>{{ restaurant.price_min }}</td>
		</tr>
		<tr>
			<th>座席数</th>
			<td>{{ restaurant.seat }}</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>{{ restaurant.address }}</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>{{ restaurant.tel }}</td>
		</tr>
		<tr>
			<th>営業時間（開始）</th>
			<td>{{ restaurant.open_time }}</td>
		</tr>
		<tr>
			<th>営業時間（終了）</th>
			<td>{{ restaurant.close_time }}</td>
		</tr>
		<tr>
			<th>定休日</th>
			<td>{{ restaurant.close_day }}</td>
		</tr>
		<tr>
			<th>キャッチコピー</th>
			<td>{{ restaurant.catch_copy }}</td>
		</tr>
		<tr>
			<th>説明</th>
			<td>{{ restaurant.explanation }}</td>
		</tr>
		<tr>
			<th>評価</th>
			<td>3.0（10件）</td>
		</tr>
		<tr>
			<th>お気に入り登録件数</th>
			<td>15件</td>
		</tr>
		<tr>
			<th>店舗画像</th>
			<td>
				<img class="admin_restaurant_img" src="{% static 'img/misokatsu.jpg' alt='店舗画像' %}">
			</td>
		</tr>
	</tbody>
</table>

<div class="admin_btn_parent">
	<div class="admin_btn">
		<a class="admin_link" href="{% url 'admin_restaurant_delete' pk=restaurant.pk %}">！削除！</a>
	</div>
</div>



{% endblock content %}
