<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}


<h1>店舗情報 編集</h1>

<!-- パンくずリスト -->
<nav>
  <ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li><a href="{% url 'admin_restaurant_list' %}">登録店舗一覧</a></li>
    <li><a href="{% url 'admin_restaurant_detail' pk=restaurant.pk %}">店舗情報 詳細</a></li>
    <li>店舗情報 編集</li>
  </ol>
</nav>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<a href="{% url 'admin_restaurant_detail' pk=restaurant.pk %}">戻る</a>
	<input type="submit" value="登録" class="admin_btn">
</form>
	
	
{% endblock content %}
