<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<h1>会員一覧</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li>会員一覧</li>
	</ol>
</nav>

<!-- 会員リスト -->
<table class="admin_table_list">
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>フリガナ</th>
		<th>メールアドレス</th>
		<th>サブスク</th>
		<th>生年月日</th>
		<th>郵便番号</th>
		<th>住所</th>
		<th>電話番号</th>
		<th>職業</th>
		<th>登録日</th>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td>契約中</td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td>契約中</td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td></td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>
    <tr>
        <td>001</td>
        <td>山田太郎</td>
        <td>ヤマダタロウ</td>
        <td>xxxx@xxx.xxx</td>
        <td>契約中</td>
        <td>1999/12/12</td>
        <td>000-0000</td>
        <td>XX県XX市XXX-XXX</td>
        <td>000-0000-0000</td>
        <td>会社員</td>
        <td>1999/12/12</td>
	</tr>

</table>



{% endblock content %}
