<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<h1>会員一覧</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li>会員一覧</li>
	</ol>
</nav>

<!-- 会員リスト -->
<table class="admin_table_list">
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>フリガナ</th>
		<th>メールアドレス</th>
		<th>サブスク</th>
		<th>生年月日</th>
		<th>郵便番号</th>
		<th>住所</th>
		<th>電話番号</th>
		<th>職業</th>
		<th>登録日</th>
	</tr>
    {% for user in object_list %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.furigana }}</td>
        <td>{{ user.email }}</td>
        <td></td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.zipcode }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.tel }}</td>
        <td>{{ user.works }}</td>
        <td>{{ user.date_joined }}</td>
	</tr>
    {% endfor %}
</table>



{% endblock content %}
