<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <a href="{% url 'top' %}">戻る</a>
  <input type="submit" value="登録">
</form>


<!-- フォームの幅をピクセル指定しているのでスマホ画面だと崩れる。あとで直す -->

<!-- <div class="account_create">
  <form>
    <h1>新規会員登録</h1>

    <div class="account_create_form">
      <label for="name" class="account_create_title">氏名</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="name" placeholder="侍 太郎">

      <label for="furigana" class="account_create_title">フリガナ</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="furigana" placeholder="サムライ タロウ">

      <label for="birthday" class="account_create_title">生年月日</label>
      <span class="account_create_required">必須</span>
      <input type="date" name="birthday" placeholder="侍 太郎">

      <label for="zipcode" class="account_create_title">郵便番号（ハイフンなし）</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="zipcode" maxlength="7" placeholder="1010022">

      <label for="address" class="account_create_title">住所</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="address" placeholder="東京都千代田区神田練平町300番地"></textarea>

      <label for="tel" class="account_create_title">電話番号（ハイフンなし）</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="tel" maxlength="11">

      <label for="works" class="account_create_title">ご職業</label>
      <span class="account_create_no_required">　　</span>
      <input type="text" name="works" placeholder="会社員">

      <label for="email" class="account_create_title">メールアドレス</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="email" placeholder="侍 太郎">

      <label for="password" class="account_create_title">パスワード</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="password" placeholder="侍 太郎">

      <label for="password_confirmation" class="account_create_title">パスワード（確認用）</label>
      <span class="account_create_required">必須</span>
      <input type="text" name="password_confirmation" placeholder="侍 太郎">
    </div>

    <button type="submit">登録</button>
  </form>

  <a class="account_create_a" href="{% url 'login'%}">すでに登録済みの方はこちら</a>

</div> -->


{% endblock content %}
