<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="account_create">
  <form>
    <h1>新規会員登録</h1>
    <div>
      <label for="name" class="account_create_row">
        <div class="account_create_label">
          <span>氏名</span>
          <span>必須</span>
        </div>
      </label>
      <div class="account_create_form">
        <input type="text" name="name" placeholder="侍 太郎">
      </div>

    </div>

  </form>
</div>


{% endblock content %}
