<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="user_login">
  <form method="post">
    <h1>ログイン</h1>
      {% csrf_token %}
      {{ form }}
    <div class="auto_login">
      <input type="checkbox" name="auto_login" />
      <label for="auto_login">次回から自動的にログインする</label>
    </div>
    <button type="submit">ログイン</button>
  </form>
  <div class="user_login_a">
    <a href="{% url 'password_resetting'%}">パスワードをお忘れの方はこちら</a>
  </div>
  <div class="user_login_a">
    <a href="{% url 'account_create'%}">新規会員登録はこちら</a>
  </div>
</div>


{% endblock content %}
